.gallery {
  height: 100%;
  overflow: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
